figure{
  position: relative;
  display: inline-block;
}

figcaption{
  position: absolute;
  bottom: 1.2em;
  right: 1.2em;
  color: #fff;
}
.seccion{
  width: 80%;
  margin:6em auto;
  max-width: 100em;
  text-align: center;
  font-family: sans-serif;
}

.coders{
  width:13em;
  height: 13em;
}

#titulo{
  position: relative;
  text-align: left;
  margin-left: 6em;
}

#titulo::before{
  position: absolute;
  content:" ";
  width: 3.5em;
  height: 2px;
  bottom: 0;
  background: #000;
}
